<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加会员-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/assets/css/font.css}">
    <link rel="stylesheet" th:href="@{/assets/css/weadmin.css}">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-body">
    <form class="layui-form" id="allFile">
        <div class="layui-form-item" th:each="map,mapStat:${fileType}">
            <label class="layui-form-label" th:text="${map.key}">
                <span class="we-red">*</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" th:id="${map.key}" th:name="${map.key}" autocomplete="off"
                       class="layui-input" th:value="${map.value}">
            </div>
            <div class="layui-form-mid layui-word-aux" th:text="${map.key}">

            </div>
        </div>
        <input type="hidden" id="source" name="source" class="layui-input" th:value="${storageType}">
        <div class="layui-form-item">
            <button class="layui-btn" id="addSource" lay-filter="add" lay-submit="" onclick="event.preventDefault();">
                确定
            </button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/assets/modules/layui/layui.js}"></script>

<script>
    layui.extend({
        admin: '{/}../../static/js/admin'
    });
    layui.use(['form', 'jquery', 'util', 'admin', 'layer'], function () {
        var form = layui.form,
            $ = layui.jquery,
            util = layui.util,
            admin = layui.admin,
            layer = layui.layer;

        //自定义验证规则
        // form.verify({
        //     nikename: function (value) {
        //         if (value.length < 5) {
        //             return '昵称至少得5个字符啊';
        //         }
        //     },
        //     pass: [/(.+){6,12}$/, '密码必须6到12位'],
        //     repass: function (value) {
        //         if ($('#L_pass').val() != $('#L_repass').val()) {
        //             return '两次密码不一致';
        //         }
        //     }
        // });
        //失去焦点时判断值为空不验证，一旦填写必须验证
        $('input[name="email"]').blur(function () {
            //这里是失去焦点时的事件
            if ($('input[name="email"]').val()) {
                $('input[name="email"]').attr('lay-verify', 'email');
            } else {
                $('input[name="email"]').removeAttr('lay-verify');
            }
        });

        //监听提交
        form.on('submit(add)', function (data) {
            //console.log(data.field);
            var f = data.field;
            //console.log(f.username);
            //console.log(f.sex);
            //var sex = $('input:radio[name="sex"]:checked').val();

            //发异步，把数据提交给php
            layer.alert("增加成功", {
                icon: 6
            }, function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
                $('#btnRefresh').click();
            });
            return false;
        });

    });
</script>
<script type="text/javascript" th:src="@{/assets/js/index.js}"></script>
</body>

</html>
