<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Free-FS文件服务器</title>
    <link rel="icon" type="shortcut icon" th:href="@{/assets/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/assets/modules/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/modules/dtree/dtree.css}">
    <link rel="stylesheet" th:href="@{/assets/modules/dtree/font/dtreefont.css}">
    <link rel="stylesheet" th:href="@{/assets/css/filelist.css}">
    <link rel="stylesheet" th:href="@{/assets/css/input.css}">
</head>
<body>
<div class="layui-container" style="padding-top: 15px;">
    <div class="layui-card">
        <div class="layui-card-header">当前位置:<span id="source" th:text="${source}"/><span id="tvFP">/</span><span id="tvFPId" hidden>/</span></div>
        <div class="layui-card-body">
            <div class="btnDiv">
                <button id="btnBack" class="layui-btn layui-btn-sm layui-btn-primary icon-btn"><i class="layui-icon">&#xe65c;</i>返回上级
                </button>
                <button id="btnRefresh" class="layui-btn layui-btn-sm layui-btn-primary icon-btn"><i class="layui-icon">&#xe669;</i>刷新
                </button>
                <button shiro:hasPermission="file:upload" id="btnUpload" class="layui-btn layui-btn-sm layui-btn-normal icon-btn"><i class="layui-icon">&#xe681;</i>上传文件
                </button>
                <button shiro:hasPermission="file:upload" id="btnUploadSharding" class="layui-btn layui-btn-sm layui-btn-normal icon-btn"><i class="layui-icon">&#xe681;</i>分片上传
                </button>
                <button style="display: none" id="btnDilaog" class="layui-btn layui-btn-sm layui-btn-primary icon-btn"><i class="layui-icon">&#xe634;</i>弹窗选择
                </button>
<!--                <div class="layui-btn layui-btn-sm icon-btn" hidden="hidden">-->
<!--                    <select name="city" lay-verify="required" οnchange="gradeChange()" id="typeId" >-->
<!--                        <option  th:value="${source}" th:text="${source}" class="optionClass"></option>-->
<!--                    </select>-->
<!--                </div>-->
                <button shiro:hasPermission="dir:manage" id="dirDilaog" class="layui-btn layui-btn-sm icon-btn"><i
                        class="layui-icon layui-icon-app"></i>目录管理
                </button>
                <button shiro:hasPermission="dir:manage" id="dirSet" class="layui-btn layui-btn-sm icon-btn" onclick="WeAdminShow('添加用户','./add.html',600,400)"><i
                        class="layui-icon layui-icon-app" ></i>存储管理
                </button>
            </div>
<!--            <div class="btnDiv">-->
<!--                <div class="wrapper">-->
<!--                    <input type="radio" name="sex" checked>女-->
<!--                    <input type="radio" name="sex" checked>男-->
<!--                </div>-->
<!--            </div>-->
            <hr>
            <div class="file-list">

            </div>

        </div>
    </div>
</div>

<!-- 下拉菜单 -->
<div class="dropdown-menu dropdown-anchor-top-left" id="dropdownFile">
    <div class="dropdown-anchor"></div>
    <ul>
        <li><a shiro:hasPermission="file:view" id="open"><i class="layui-icon layui-icon-file"></i>&emsp;查看&emsp;</a></li>
        <li><a shiro:hasPermission="file:copy" id="copy"><i class="layui-icon layui-icon-release"></i>&emsp;复制&emsp;</a></li>
        <li><a shiro:hasPermission="file:move" id="move"><i class="layui-icon layui-icon-location"></i>&emsp;移动&emsp;</a></li>
        <li><a shiro:hasPermission="file:rename" id="rename"><i class="layui-icon layui-icon-survey"></i>&emsp;重命名&emsp;</a></li>
        <li><a shiro:hasPermission="file:download" id="download"><i class="layui-icon layui-icon-download-circle"></i>&emsp;下载&emsp;</a></li>
        <li><a shiro:hasPermission="file:delete" id="del" style="color: red !important;"><i class="layui-icon layui-icon-delete" style="font-size: 19px;"></i>&nbsp;&nbsp;&nbsp;删除&emsp;</a></li>
    </ul>
</div>

<!--<div class="layui-footer layui-text">
    copyright © 2021 free-fs all rights reserved.
</div>-->

<script type="text/html" id="uploadShardModel">
    <div class="layui-upload my-form">
        <button type="button" class="layui-btn layui-btn-normal" id="uploadShardList">选择多文件</button>
        <div class="layui-upload-list">
            <table class="layui-table">
                <thead>
                <tr>
                    <th width="20%">文件名</th>
                    <th width="10%">大小</th>
                    <th width="10%">状态</th>
                    <th width="40%">进度</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody id="uploadList"></tbody>
            </table>
        </div>
        <button type="button" class="layui-btn" id="testListAction">开始上传</button>
    </div>
</script>

<!--新增文件夹表单模态框-->
<script type="text/html" id="addFolderModel">
    <form class="layui-form my-form" id="addFolderForm" lay-filter="addFolderForm">
        <div class="layui-form-item">
            <label class="layui-form-label">文件夹名称</label>
            <div class="layui-input-block">
                <input type="text" name="folderName" required lay-verify="required" placeholder="请输入文件夹名称" autocomplete="off"
                       class="layui-input" id="folderName">
            </div>
        </div>
        <div class="layui-form-item form-text-right">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="addFolderBtn">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary"  id="closeFolderBtn">取消</button>
        </div>
    </form>
</script>

<!--重命名表单模态框-->
<script type="text/html" id="editRenameModel">
    <form class="layui-form my-form" id="editTreeNodeForm" lay-filter="editTreeNodeForm">
        <input type="hidden" name="id" >
        <div class="layui-form-item">
            <label class="layui-form-label">当前名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" autocomplete="off"
                       class="layui-input layui-disabled" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改名称</label>
            <div class="layui-input-block">
                <input type="text" name="rename" required lay-verify="required" placeholder="请输入名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item form-text-right">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="editTreeNodeBtn">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary" id="closeRenameBtn">取消</button>
        </div>
    </form>
</script>

<!--目录管理模态框-->
<script type="text/html" id="dirModel">
    <form class="layui-form my-form" id="dirForm" lay-filter="dirForm" style="overflow:auto;">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline mr0">
                    <input id="searchDirInput" class="layui-input" type="text" placeholder="输入查询节点内容"/>
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn icon-btn layui-btn-sm" id="searchDirTreeBtn">
                    <i class="layui-icon">&#xe615;</i>搜索
                </button>
                <button type="button" class="layui-btn icon-btn layui-btn-primary layui-btn-sm" id="refreshDirTreeBtn">
                    <i class="layui-icon">&#xe669;</i>刷新
                </button>
            </div>
        </div>
        <ul id="dirTree" class="dtree" data-id="-1"></ul>
        <div class="layui-form-item form-text-right">
            <button type="button" class="layui-btn layui-btn-primary" id="dirCloseBtn">取消</button>
        </div>
    </form>
</script>
<!--文件移动表单模态框-->
<script type="text/html" id="moveModel">
    <form class="layui-form my-form" id="moveForm" lay-filter="moveForm" style="overflow:auto;">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline mr0">
                    <input id="searchMoveInput" class="layui-input" type="text" placeholder="输入查询节点内容"/>
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn icon-btn layui-btn-sm" id="searchMoveTreeBtn">
                    <i class="layui-icon">&#xe615;</i>搜索
                </button>
                <button type="button" class="layui-btn icon-btn layui-btn-primary layui-btn-sm" id="refreshMoveTreeBtn">
                    <i class="layui-icon">&#xe669;</i>刷新
                </button>
            </div>
        </div>
        <ul id="moveDirTree" class="dtree" data-id="-1"></ul>
        <div class="layui-form-item form-text-right">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="moveSubmitBtn">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary" id="moveCloseBtn">取消</button>
        </div>
    </form>
</script>

<!-- 渲染模板 -->
<script id="fileTpl" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="file-list-item" data-id="{{index}}" data-dir="{{item.isFold}}" data-url="{{item.fullFilePath}}" data-name="{{item.originalFileName}}">
        <div class="file-list-img">
            {{# if(item.suffix=="jpg"||item.suffix=="png"){ }}
            <img src="{{item.fullFilePath}}"/>
            {{# }else{ }}
            <img src="assets/img/fti/{{item.suffix}}.png"/>
            {{# } }}
        </div>
        <div class="file-list-name">
            {{# if(item.isFold){ }}
            {{item.originalFileName}}
            {{# }else{ }}
            {{item.originalFileName}}
            {{# } }}
        </div>
    </div>
    {{#  }); }}
    {{# if(d.length<=0){ }}
    <div class="list-empty">
        <i class="layui-icon layui-icon-face-surprised"></i>
        <div>没有文件</div>
    </div>
    {{# } }}
</script>

<script type="text/javascript" th:src="@{/assets/modules/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/assets/modules/clipboard.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/index.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/eleDel.js}" charset="utf-8"></script>

</body>
</html>
